<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meeting">
	<!-- 게시글 -->
	<select id="nextMNum" resultType="int"> <!-- 게시글 번호 -->
		SELECT NVL(MAX(M_NO),0)+1 FROM MEETING
	</select>
	<select id="selectMAll" resultType="meetingVo"> <!-- 게시글 목록 -->
<!-- 	SELECT * FROM (SELECT ROWNUM N, M_NO, C_NAME, M_TIME, M_TITLE, RANK_ICON, NICKNAME, TO_CHAR(M_REGDATE, 'YYYY. MM. DD HH24:MI') AS M_REGDATE, M_HIT, id 
		FROM (SELECT M_NO, C_NAME, M_TIME, M_TITLE, RANK_ICON, NICKNAME, M_REGDATE, M_HIT, mb.id 
		FROM meeting MT,MEMBER MB, COURSE C, RANK R 
		WHERE MT.ID=MB.ID AND C.C_NO=MT.C_NO AND R.RANK_NAME = MB.RANK_NAME -->
		
		SELECT m.*, CAST(24*60*60*(SYSDATE-m.m_regdate) AS INT) date_diff
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY m_no DESC) N, C_NO, M_NO, C_NAME, M_TIME, M_TITLE, RANK_ICON, NICKNAME, M_REGDATE, M_HIT, ID
		FROM (SELECT M_NO, MT.C_NO, C_NAME, M_TIME, M_TITLE, RANK_ICON, NICKNAME, M_REGDATE, M_HIT, MB.ID
		FROM MEETING MT, MEMBER MB, COURSE C, RANK R
		WHERE MT.ID=MB.ID AND C.C_NO=MT.C_NO AND R.RANK_NAME = MB.RANK_NAME 
		<if test=' !id.equals("%")'>
			AND MB.ID=#{id}
		</if>
		<if test='id.equals("%")'>
			AND MB.ID LIKE '%'
		</if>
		ORDER BY M_NO DESC)) m WHERE N BETWEEN #{start} AND #{end}
	</select>
	<select id="selectMByNo" resultType="meetingVo"> <!-- 게시글 상세 -->
	 	SELECT MT.M_NO, MT.C_NO, MT.ID, NICKNAME, C_NAME, RANK_ICON, M_TITLE, M_CONTENT, M_REGDATE, M_HIT, M_LATITUDE, M_LONGITUDE, M_LOCNAME, M_TIME, M_NUMPEOPLE FROM MEETING MT, MEMBER MB, COURSE C, RANK R WHERE MT.ID=MB.ID AND C.C_NO=MT.C_NO AND R.RANK_NAME=MB.RANK_NAME AND M_NO=#{m_no}
	</select>
	<select id="totMRecord" resultType="int"> <!-- 게시글 수 -->
		SELECT COUNT(*) FROM MEETING  
		<if test='!id.equals("%")'>
			WHERE ID=#{id}
		</if>
		<if test='id.equals("%")'>
			WHERE ID LIKE '%'
		</if>	
	</select>
	<insert id="insertM" parameterType="meetingVo"> <!-- 게시글 등록 -->
		INSERT INTO MEETING VALUES (#{m_no}, #{c_no}, #{id}, #{m_title}, #{m_content}, SYSDATE, 0, #{m_latitude}, #{m_longitude}, #{m_locname}, #{m_time}, #{m_numpeople})
	</insert>
	<update id="updateM" parameterType="meetingVo"> <!-- 게시글 수정 -->
		UPDATE MEETING SET C_NO=#{c_no}, M_TITLE=#{m_title}, M_CONTENT=#{m_content}, M_LATITUDE=#{m_latitude}, M_LONGITUDE=#{m_longitude}, M_LOCNAME=#{m_locname}, M_TIME=#{m_time}, M_NUMPEOPLE=#{m_numpeople} WHERE M_NO=#{m_no}
	</update>
	<update id="updateHit" parameterType="meetingVo"> <!-- 조회수 수정 -->
		UPDATE MEETING SET M_HIT=M_HIT+1 WHERE M_NO=#{m_no}
	</update>
	<delete id="deleteM" parameterType="meetingVo"> <!-- 게시글 삭제 -->
		DELETE MEETING WHERE M_NO=#{m_no}
	</delete>
	
	<select id="selectMpByNo" resultType="meeting_peopleVo"> <!-- 모임인원 상세 -->
		SELECT MP.ID, MP.M_NO, TO_CHAR(MP.MP_REGDATE, 'YYYY. MM. DD HH24:MI') AS MP_REGDATE, M.NICKNAME, R.RANK_ICON  FROM 
		MEETING_PEOPLE MP, MEMBER M, RANK R WHERE M_NO=#{m_no} AND M.ID=MP.ID AND R.RANK_NAME=M.RANK_NAME ORDER BY MP_REGDATE
	</select>
	<insert id="insertMp" parameterType="meeting_peopleVo"> <!-- 모임인원 등록 -->
		INSERT INTO MEETING_PEOPLE VALUES(#{id}, #{m_no}, SYSDATE)
	</insert>
	<delete id="deleteOneMp" parameterType="meeting_peopleVo"> <!-- 모임인원 일부삭제 -->
		DELETE MEETING_PEOPLE WHERE ID=#{id} AND M_NO=#{m_no}
	</delete>
	<delete id="deleteMp" parameterType="meeting_peopleVo"> <!-- 모임인원 전체삭제 -->
		DELETE MEETING_PEOPLE WHERE M_NO=#{m_no}
	</delete>
	

	<!-- 첨부파일 -->
	<select id="nextMfNum" resultType="int"> <!-- 첨부파일 번호 -->
		SELECT NVL(MAX(MF_NO),0)+1 FROM MEETING_FILE
	</select>
	<select id="selectMfByNo" resultType="meeting_fileVo"> <!-- 첨부파일 상세 -->
		SELECT * FROM MEETING_FILE WHERE M_NO=#{m_no}
	</select>
	<insert id="insertMf" parameterType="meeting_fileVo"> <!-- 첨부파일 등록 -->
		INSERT INTO MEETING_FILE VALUES(MF_SEQ.NEXTVAL, #{m_no}, #{mf_name}, #{mf_savename}, #{mf_path}, #{mf_size})
	</insert>
	<update id="updateMf" parameterType="meeting_fileVo"> <!-- 첨부파일 수정 -->
		UPDATE MEETING_FILE SET MF_NAME=#{mf_name}, MF_SAVENAME=#{mf_savename}, MF_SIZE=#{mf_size} WHERE M_NO=#{m_no}
	</update>
	<delete id="deleteMf" parameterType="meeting_fileVo"> <!-- 첨부파일 삭제 -->
		DELETE MEETING_FILE WHERE M_NO=#{m_no}
	</delete>
	
	
	<!-- 댓글 -->
	<select id="cntRep" resultType="int"> <!-- 댓글 수 -->
		SELECT COUNT(*) FROM MEETING_REP WHERE M_NO=#{m_no}
	</select>
	<select id="nextMrNum" resultType="int"> <!-- 게시글 첨부파일 번호 -->
		SELECT NVL(MAX(MR_NO),0)+1 FROM MEETING_REP
	</select>
	<select id="selectMrList" resultType="meeting_repVo" parameterType="map"> <!-- 댓글 리스트 -->
		SELECT MR_NO, M_NO, ID, MR_CONTENT, TO_CHAR(MR_REGDATE,'YYYY. MM. DD HH24:MI') AS MR_REGDATE, MR_REF, MR_STEP, MR_FILE1, RANK_ICON, NICKNAME
		FROM
		(SELECT ROWNUM AS RNUM, MR_NO, M_NO, ID, MR_CONTENT, MR_REGDATE, MR_REF, MR_STEP, MR_FILE1, RANK_ICON, NICKNAME 
		 FROM
		(SELECT MR_NO, M_NO, MR.ID, MR_CONTENT, MR_REGDATE, MR_REF, MR_STEP, MR_FILE1, RANK_ICON, NICKNAME 
		FROM MEETING_REP MR, MEMBER MB, RANK R 
		WHERE MR.ID=MB.ID AND R.RANK_NAME=MB.RANK_NAME AND M_NO=#{m_no} ORDER BY MR_REF, MR_STEP)) WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectMrByNo" resultType="meeting_repVo">
		SELECT MR_NO, M_NO, ID, MR_CONTENT, MR_REF, MR_STEP, MR_FILE1 FROM MEETING_REP WHERE MR_NO=#{mr_no}
	</select>
	
	<select id="nextStep" resultType="int"> <!-- 댓글 맥스 스텝값 -->
		SELECT MAX(MR_STEP)+1 FROM MEETING_REP WHERE MR_REF=#{mr_ref}
	</select>
	<insert id="insertMr"> <!-- 댓글등록 -->
		INSERT INTO MEETING_REP VALUES(#{mr_no}, #{m_no}, #{id}, #{mr_content}, SYSDATE, #{mr_ref}, #{mr_step}, #{mr_file1})
	</insert>
	<update id="updateMr">
		UPDATE MEETING_REP SET MR_CONTENT=#{mr_content}, MR_FILE1=#{mr_file1} WHERE MR_NO = #{mr_no}
	</update>
	<delete id="deleteMr" parameterType="meeting_repVo"> <!-- 댓글전체 삭제 -->
		DELETE MEETING_REP WHERE M_NO=#{m_no}
	</delete>
	<delete id="deleteMrOne" parameterType="meeting_repVo"> <!-- 내댓글 삭제 -->
		DELETE MEETING_REP WHERE MR_NO=#{mr_no}
	</delete>
	
	<!--실시간 게시글 페이징 -->
	<select id="MyTotMRecord" resultType="int"> <!-- 게시글 수 -->
		SELECT COUNT(*) FROM MEETING WHERE 
		<if test='id != ""'>
		MB.ID=#{id}
		</if>
	</select>
	<!-- 내가 쓴 게시글만 출력 -->
	<select id="myPageSelectMAll" resultType="meetingVo"> <!-- 마이페이지 게시글 목록 -->
		SELECT * FROM (SELECT ROWNUM N, M_NO, C_NAME, M_TIME, M_TITLE, RANK_ICON, NICKNAME, TO_CHAR(M_REGDATE, 'YYYY. MM. DD HH24:MI') AS M_REGDATE, M_HIT, id
	FROM (SELECT M_NO, C_NAME, M_TIME, M_TITLE, RANK_ICON, NICKNAME, M_REGDATE, M_HIT, mb.id
	FROM meeting MT,MEMBER MB, COURSE C, RANK R 
	WHERE MT.ID=MB.ID AND C.C_NO=MT.C_NO AND R.RANK_NAME = MB.RANK_NAME and MB.ID=#{id}

	ORDER BY M_NO DESC)) WHERE N BETWEEN #{start} and #{end}
	</select>
	
	<update id="updateMasDelCourse"> <!--코스삭제로 인해 해당코스로 등록되어있던 게시물은 0번(선택안함)으로 변경 -->
		UPDATE MEETING SET C_NO = 0 WHERE C_NO = #{c_no}
	</update>
	
	<!-- 정재호 -->
	<select id="selectTemp" resultType="meeting_tempVo">
		SELECT * FROM meeting_temp WHERE id=#{id}
	</select>
	<insert id="insertTempId">
		INSERT INTO meeting_temp(id) VALUES(#{id})
	</insert>
	<update id="updateTemp">
		UPDATE meeting_temp SET c_no=#{c_no},m_title=#{m_title},m_content=#{m_content},m_latitude=#{m_latitude},m_longitude=#{m_longitude},m_locname=#{m_locname},m_numpeople=#{m_numpeople}
		<if test="m_time != null">
			,m_time=#{m_time}
		</if>
		WHERE id=#{id}
	</update>
	<delete id="deleteTemp">
		DELETE FROM meeting_temp WHERE id=#{id}
	</delete>
	<delete id="deleteMfOne">
		DELETE FROM meeting_file WHERE mf_no=#{mf_no}
	</delete>
	
	<select id="selectMeetingRepOne" resultType="meeting_repVo">
		SELECT ID FROM MEETING_REP WHERE MR_NO = #{mr_no}
	</select>
	
</mapper>	