<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
  <select id="nextNoticeNo" resultType="int">
  	SELECT NVL(MAX(N_NO),0)+1 FROM NOTICE
  </select>
  
  <select id="listNotice" resultType="noticeVo">
    select * 
	from (select rownum r, n_no, code_value, code_name, n_title, n_content, N_REGDATE, n_hit ,n_file
	from (SELECT n_no, n.code_value, code_name, n_title, n_content, N_REGDATE, n_hit ,n_file FROM NOTICE n, 
		CODE c 
	<where>
   	 n.CODE_VALUE = c.CODE_VALUE  
   	 <if test="code_value != 0">
   	 AND n.CODE_VALUE = #{code_value}
   	 </if>
   	 <if test="searchText != null and searchText !='' ">
   	 AND (N_TITLE LIKE '%' || #{searchText} || '%' OR N_CONTENT LIKE '%' || #{searchText} || '%')
   	 </if>
    </where>  
    ORDER BY N_NO DESC ))
    
	where r between #{start} and #{end}

  </select>
  
  <select id="getBoardCategory" resultType="codeVo">
    select code_value,code_type,code_name from code where code_type=#{code_type}
  </select>
  
  <select id="selectByN_NO" resultType="noticeVo">
  	SELECT * FROM NOTICE WHERE N_NO=#{n_no}
  </select>
  
  <select id="detailNotice" resultType="noticeVo">
    SELECT n_no,n.code_value,code_name,n_title,n_content,TO_CHAR(n_regdate,'yyyy.mm.dd hh:mi') n_regdate,
    n_hit ,n_file FROM NOTICE n, CODE c WHERE n.CODE_VALUE = c.CODE_VALUE AND N_NO=#{N_NO}
  </select>
  
  <insert id="insertNotice">
    insert into notice(n_no,code_value,n_title,n_content,n_regdate,
    n_hit,n_file) values(#{n_no},#{code_value},#{n_title},#{n_content},sysdate,#{n_hit}
    <if test="n_file != null">
    ,#{n_file}
    </if>
    <if test="n_file == null">
    ,null
    </if>
    )
  </insert>
  
  <update id="updateHit">
  	UPDATE notice SET n_hit=n_hit+1 WHERE n_no=#{n_no}
  </update>
  
  <update id="updateNotice">
  	UPDATE NOTICE SET N_TITLE=#{n_title},N_CONTENT=#{n_content}
  	<if test="n_file != null">
  	,N_FILE=#{n_file} 
  	</if>
  	WHERE N_NO=#{n_no}
  </update>
  
  <delete id="deleteNotice">
  	DELETE NOTICE WHERE N_NO=#{n_no}
  </delete>
  
  <select id="search" resultType="noticeVo">
  	 SELECT n_no,n.code_value,code_name,n_title,n_content,TO_CHAR(n_regdate,'yyyy.mm.dd hh:mi') AS N_REGDATE, 
    n_hit FROM NOTICE n, CODE c 
    <where>
   	 n.CODE_VALUE = c.CODE_VALUE  
   	 <if test="code_value != 0">
   	 AND n.CODE_VALUE = #{code_value}
   	 </if>
   	 AND (N_TITLE LIKE '%' || #{searchText} || '%' OR N_CONTENT LIKE '%' || #{searchText} || '%')
    </where>  
    ORDER BY N_REGDATE DESC 
  </select>
  
  <select id="totNRecord" resultType="java.lang.Integer">
   	SELECT COUNT (*) FROM NOTICE
   	<where>
   	 <if test="code_value != 0">
   	 CODE_VALUE = #{code_value}
   	 </if>
   	 <if test="searchText != null and searchText != '' ">
   	 AND (N_TITLE LIKE '%' || #{searchText} || '%' OR N_CONTENT LIKE '%' || #{searchText} || '%')
   	 </if>
    </where> 
  </select>
</mapper>